.status-0 {
    color: white;
    background-color: rgb(31, 158, 31);
}
.status-1 {
    color: white;
    background-color: rgb(131, 125, 125);
}
.status-2 {
    color: white;
    background-color: rgb(235, 77, 77);
}