.ps-layout {
    background-color: whitesmoke;
    padding: 3ch;
}

.ps-container {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

.ps-action {
    margin-bottom: 5px;
}

/* Hide the default scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}