.ps-tbl, .ps-sub-tbl {
    width: 100%;
}

.ps-tbl-header {
    border-bottom: 1px dashed gainsboro;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
}
.ps-tbl-data {
    padding: 10px 15px;
}

.ps-tbl-col-select {
    text-align: center;
    width: 50px;
}
.ps-tbl-col-status {
    text-align: center;
    width: 110px;
}
.ps-tbl-col-date {
    text-align: center;
    width: 150px;
}
.ps-tbl-col-action {
    width: 200px;
    text-align: center;
}

.ps-tbl .ps-tbl-data .customer-data .name {
    display: flex;
    font-weight: 500;
    margin-bottom: 5px;
}
.ps-tbl .ps-tbl-data .customer-data .other {
    display: flex;
    font-size: 13px;
}
.ps-tbl .ps-tbl-data .customer-data .other span {
    padding: 0px 7px;
}

