.cstm-table {
    width: 100%;
    margin: 20px 0px;
}

.cstm-table td {
    padding: 10px 15px;
    border-bottom: 1px solid gainsboro;
}

.cstm-table th {
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid gainsboro;
}

/* .cstm-table tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

.cstm-table tbody tr:hover {
    transform: scale(1.01);
}  */

.cstm-table .cstm-column-select {
    text-align: center;
    width: 50px;
}

.cstm-table .cstm-column-status {
    text-align: center;
    width: 110px;
}

.cstm-table .cstm-column-date {
    text-align: center;
    width: 150px;
}

.cstm-table .cstm-column-action {
    text-align: center;
}

.cstm-table .cstm-column-status .cstm-status {
    display:inline-block;
    width: auto;
    font-size: 11px;
    font-weight: 500;
    border-radius: 5px;
    padding: 1px 5px;
}

.cstm-table .cstm-data-detail .name {
    display: flex;
    font-weight: 500;
    margin-bottom: 5px;
}

.cstm-table .cstm-data-detail .other {
    display: flex;
    font-size: 13px;
}

.cstm-table .cstm-data-detail .other span {
    padding: 0px 7px;
}


.cstm-sub-table {
    background-color: whitesmoke;
    padding: 10px 20px;
    border: 1px solid gainsboro;
}
.cstm-sub-table table {
    width: 100%;
}
.cstm-sub-table table {
    width: 100%;
}
.cstm-sub-table td {
    font-size: 13px;
    border: none;
    padding: 0;
}
.cstm-sub-table th {
    font-size: 13px;
    border: none;
    padding: 0;
}